//
//  Production.xcconfig
//  PitchDeckApp
//
//  Created by Anton Redkozubov on 12.12.2025.
//

// API URL

STRAPI_URL = AAEBQAwAAAAQAAAAJQAAAJ9CfcUH4grRn3FC8ClbFCnSgijasOYP3bmdLaX3SLfrB99yqbxkdalapjUDmCYPZvr%2B8mZSaSrVJ%2FT%2BKCXG2XPW
STRAPI_AUTH_TOKEN = AAEBQAwAAAAQAAAAAAEAAOkSXPACyx0L%2BlDCjcfHOLr3uZ8U%2B7BBmUmGML8CKQRi02x2PpHBjtIc1vOUNHLxl6%2FX%2FRZGesxbByWW8TooR1tmuN5VGrKh1sglo56BZqlPUwNeoUdvgIJzHS0VIR3g9UvwXlBfXi7fylb3O7GbzFcMu5nW%2FSZomcQSb757SmkQeGC594iUDqRBefho%2BPfF4iM1imma9%2F6dpp1frxs8QbS6Ans0AkjY2dcTsOu38VaYnaFsGW74xswVvlqKKtkAT2sRJHfyRZsVxhBlXy%2BYBVdi2giEzxAN8QvOLftlJN9ilfU9s%2FW4VPFodmOF0ToDh9%2FjjIGhKtxaizCPaX%2BXk1tMzn%2FkI8qKo94DW70zAkfN0%2F4HH7slIUebk75j
