<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pitchdeck</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>id.appricot.ru</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>STRAPI_DATA_URL</key>
	<string>$(STRAPI_DATA_URL)</string>
	<key>STRAPI_AUTH_TOKEN</key>
	<string>$(STRAPI_AUTH_TOKEN)</string>
	<key>STRAPI_URL</key>
	<string>$(STRAPI_URL)</string>
</dict>
</plist>
